<!DOCTYPE html><html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <link href="http://test.wywwwxm.com/fdflex.min.css" rel="stylesheet" type="text/css">
    <style>
      .container{
        width:100%;
        overflow-x:hidden;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="grid-x">
        <div class="cell auto">
          <p>
          <?php if(isset($view['errorinfo'])){echo $view['errorinfo'];} ?>
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
