<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">创建菜单</h3>
    </div>
    <div class="panel-body">
        <form action="/admin/menu/save" method="post">
            <div>
                <div>
                    type：<input type="text" name="otype">
                </div>
                <div>
                    name：<input type="text" name="omenuname">
                </div>
                <div>
                    url:<input type="text" name="ourl">
                </div>

            </div>
            <div>
                <div>
                    type：<input type="text" name="ttype">
                </div>
                <div>
                    name：<input type="text" name="tmenuname">
                </div>
                <div>
                    url:<input type="text" name="turl">
                </div>

            </div>
            <div>
                <div>
                    type：<input type="text" name="thtype">
                </div>
                <div>
                    name：<input type="text" name="thmenuname">
                </div>
                <div>
                    url:<input type="text" name="thurl">
                </div>

            </div>
            <div>
                <input type="submit" value="添加">
            </div>
        </form>
    </div>
</div>